<div class="main-container">
  <div class="header">
    <img
      *ngIf="repository"
      src="{{ sidePanelProp?.owner?.avatarUrl }}"
      alt="Avatar"
    />
    <h1>Repository - {{ repoOwnerName }}/{{ repoOwnerName }}</h1>
  </div>
  <div class="panel">
    <div class="left-panel">
      <div class="sub-header">
        <h4>Issues</h4>
        <button class="back-button" (click)="backToAuth()">
          Add new token
        </button>
      </div>

      <div
        *ngIf="issues.length"
        class="issues-container"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
      >
        <div *ngFor="let issue of issues" class="issue">
          <div class="name">
            <div class="title">
              {{ issue.node.closed ? "closed" : "open" }}
            </div>
            <a href="{{ issue.node.url }}" target="_blank">
              {{ issue.node.title }}
            </a>
          </div>
          <div class="body-text">
            <p>{{ issue.node.bodyText }}</p>
          </div>
          <div class="starcount">{{ issue.node.createdAt }}</div>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <h3>About this repository</h3>
      <h5>{{ repository?.description }}</h5>
      <div class="label">
        <p>{{ sidePanelProp?.forks.totalCount }} forks</p>
        <p>{{ sidePanelProp?.pullRequests.totalCount }} Pull Requests</p>
        <p>{{ sidePanelProp?.stargazers.totalCount }} stargazers</p>
        <p>{{ sidePanelProp?.watchers.totalCount }} watching</p>
      </div>
    </div>
  </div>
  <div *ngIf="loading | async" class="loader"></div>
</div>
